a {
  cursor: pointer;
}

.player-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-bar-setting {
  margin-bottom: 25px;
  display: flex;
  gap: 10px;

  &-item {
    display: flex;
    align-items: center;
    gap: 10px;

    & > span:nth-child(1) {
      min-width: 100px;
    }
  }
}

.player-bar-info {
  font-size: 20px;
  padding-bottom: 5px;
  display: flex;
  gap: 64px;
}

.player-bar-show {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.player-bar-control {
  padding-block: 10px;
  width: fit-content;
  & button {
    font-size: 16px;
    font-weight: 500;
  }
}

.player-bar-content {
  position: relative;
}

.player-bar-tail {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.player-bar-mark {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    opacity: 0.8;
  }

  &-middle {
    height: 100%;
  }

  &-tip {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
  }
}

.player-bar-mark-hover {
  opacity: 0;
  transition: none;
}

.player-bar-mark-hover--review {
  background: rgba(255, 125, 0, 0.5) !important;

  .player-bar-mark-middle {
    background: rgba(255, 125, 0, 0.5) !important;
  }

  &:hover {
    opacity: 1;
  }
}

.frame-dropdown {
  width: 240px;
  background-color: white;
  /* background-color: var(--color-bg-container); */
  border-radius: 4px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);

  &-content {
    display: flex;
    flex-direction: column;
  }

  &-header {
    height: 22px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
    /* color: var(--color-text); */
    margin-bottom: 1px;
    padding-block: 1px;
    padding-inline: 12px;
  }

  &-footer {
    display: flex;
    padding: 10px 12px;
    padding-right: 11px;
    gap: 11px;
  }

  &-header,
  &-content-item {
    position: relative;
    display: flex;

    & span:nth-child(3) {
      position: absolute;
      top: 2%;
      left: 22%;
      font-size: 12px;
      scale: 0.95;
      color: rgba(112, 122, 255, 1);
    }

    .key,
    .value {
      flex: 1;
    }
  }

  &-content-item {
    height: 36px;
    line-height: 36px;
    padding-inline: 12px;
    font-size: 14px;
    cursor: pointer;

    &--active {
      background-color: rgba(112, 122, 255, 0.2);
    }
  }

  &-content-item:hover {
    background-color: rgba(112, 122, 255, 0.2);
  }
}
